<!-- Topbar Start -->
<div class="navbar-custom">
  <div class="container-fluid">
    <!-- LOGO -->
    <div class="logo-box mx-auto">
      <a routerLink="/" class="logo text-center">
        <span class="logo-lg">
          <img src="assets/images/logo-light.png" alt="" height="40">
          <button (click)="switchLang('es')" class="btn btn-waves-effect btn-lighten-blue ml-5 btn-xs"><img style="height: 30px; width: 40px;"  src="assets/flags/es.svg" alt="Spain" /></button>
          <button (click)="switchLang('en')" class="btn btn-waves-effect btn-lighten-blue ml-5 btn-xs"><img style="height: 30px; width: 40px;"  src="assets/flags/gb.svg" alt="Spain" /></button>
        </span>
        <span class="logo-sm">
          <img src="assets/images/logo-light.png" alt="" height="40">
          <button (click)="switchLang('es')" class="btn btn-waves-effect btn-lighten-blue ml-5 btn-xs"><i class="fas fa-plus-circle"></i> Install App</button>
        </span>
      </a>
    </div>
  </div>
</div>
<!-- end Topbar -->

