<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        2020 © Crafted with <span class="text-danger"><i class="fas fa-heart"></i></span> por <a href="https://afiliazon.com" target="_blank">Afiliazon</a>
      </div>
      <div class="col-md-6">
        <div class="text-md-right footer-links d-none d-sm-block">
          <a href="https://afiliazon.com/politica-de-privacidad/" target="_blank"><span class="text-blue"><i class="fas fa-unlock"></i></span> {{'fot1' | translate}}</a>
          <a href="https://ko-fi.com/mapacoronavirus"><span class="text-warning"><i class="fas fa-hand-holding-usd"></i></span> {{'fot2' | translate}}</a>
          <a href="https://afiliazon.com" target="_blank"><span class="text-success"><i class="fab fa-wordpress-simple"></i></span> {{'fot3' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</footer>